body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  background: #2c2b3d;
  display: 100vh;
}
.page {
  margin: auto;
  width: 1092px;
  padding: 70px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  align-items: center;
  gap: 64px;
  list-style: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
}
ul a {
  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
}
ul a:hover {
  font-weight: bold;
  color: #ffffffdc;
}
a {
  text-decoration: none;
}
main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
  margin-top: 100px;
  margin-bottom: 157px;
}
section {
  text-align: center;
}
h1 {
  color: #ffffff;
  margin-bottom: 59px;
  font-size: 36px;
  line-height: 40px;
  width: 610px;
}
section p {
  font-family: "Open Sans", sans-serif;
  color: #c2c2c2;
  font-size: 16px;
  line-height: 28px;
  width: 604px;
}
.green {
  color: #00bfa6;
}
.white {
  font-weight: bold;
}
.line {
  width: 568px;
  border: 1px solid #00bfa6;
  height: 0px;
  margin: 0 auto 8px;
}
footer {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 28px;
}
footer a {
  color: #ffffff;
}
#lock {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
